<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= computer.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/computers/<%= computer._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="computer[name]" value="<%= computer.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="computer[price]" value="<%= computer.price %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="computer[image]" value="<%= computer.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="computer[description]" value="<%= computer.description %>">
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="text" name="computer[processor]" value="<%= computer.processor %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="computer[motherboard]" value="<%= computer.motherboard %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="computer[video]" value="<%= computer.video %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="computer[ram]" value="<%= computer.ram %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="computer[memory]" value="<%= computer.memory %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="computer[power]" value="<%= computer.power %>">
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/computers">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>




